.item {
    display: flex;
    width: 500px;
    min-height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background-color:#e8bd5b;
}

.checked { 
    background-color: darkgray;
    opacity: 0.5;
}

.description {
    width: 80%;
    display: flex;
    align-items: center;
    color: floralwhite;
}

.buttons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons input {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.buttons button {
    outline: none;
    border: none;
    background-color: crimson;
    color: #ffffff;
    cursor: pointer;
    height: 25px;
    border-radius: 5px;
}