h1{
    letter-spacing: 1rem;
}

.brand {
position: absolute;
top: 2%;
left: 3%;
font-size: 1.3rem;
}


.center {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
font-weight: bolder;
color: #1b006a;
text-shadow: 4px 0px 7px white;
}

hr {
margin: auto;
width: 50%;
}

.frosted-glass-effect {
background: linear-gradient(155deg, rgba(255, 255, 255, 0.2) -50%, rgba(255, 255, 255, 0.05) 80%);
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 25px;
-webkit-backdrop-filter: blur(25px);
backdrop-filter: blur(25px);
}