body {
    margin: 0;
    height: 100%;
    background: linear-gradient(to right, #a2e9e9, #e9bd5a);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
